 .a1 {
    background: #f0f0f0;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}

.a1 h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

#a2 {
    padding: 8px;
    font-size: 16px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 6px;
}
