*{
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif; 
    background-color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: blue;
}


.a1 {
    border: 2px solid #333; /* Simple solid border */
    background-color: #dab330; /* Light grey background */
    padding: 20px;
    max-width: 600px;
    margin: 0 auto 30px auto; /* Centered */
    border-radius: 10px; /* Rounded corners */
}

.a1 h1 {
    margin-top: 0;
}

#a2 {
    padding: 8px;
    font-size: 16px;
    width: 60%;
}


button {
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #621919;
}


#b1, #r3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

section {
    border-radius: 10%;
    border: 1px solid #888; 
    background-color: #fff;
    padding: 15px;
    width: 250px;
    text-align: left;
}

/* Heading inside boxes */
section h3 {
    border-radius: 10%;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-top: 0;
    font-size: 18px;
}


section p {
    border-radius: 10%;
    margin: 5px 0;
    font-size: 14px;
}


#b1 > div {
    display: flex;

    flex-direction: column;
    gap: 20px;
}

#r3{
    border-radius: 10%;
    padding-right: 300px;
}

#e5{
    border-radius: 10%;
    padding-bottom: 80px;
}